{{!-- <div>
    Start here

    <form action="/count" method="post">
        <div class="counter" >
            {{counter}}
        </div>    
        <input type="submit" value="Press button to count">
    
    </form>

</div> --}}


   <h1>Your Order</h1> 

    {{!-- <form action="/count" method="post">
        <div class="counter" >
            R{{userID}}
        </div>    
        {{!-- <input type="submit" value="Press button to count"> --}}
    
    </form>




{{!-- <div class="col-5 left">
                <div>
                    <span  class="grandTotalOne">R{{userID}}</span>
                </div>
            </div>

          
            <div>
                    <span action="/update-userID" class="id">R{{userID}}</span>
                </div> --}}

<div class="section" >

	<h2>Create a reminder</h2> 

	<form action="/reminder" method="POST">

		<div>
			<label for="">Payment amount:</label>
			<input type="text" name="firstName" >
		</div>
	
		{{!-- <div>
			<label for="">Days due in:</label>

			<input type="text" name="dayCount" placeholder="Enter the # of days">
		</div> --}}

		<div>
			<input type="submit" class="bigger-button" value="Pay">
		</div>
	</form>

</div>