{{!-- <div>
    Start here

    <form action="/count" method="post">
        <div class="counter" >
            {{counter}}
        </div>    
        <input type="submit" value="Press button to count">
    
    </form>

</div> --}}


   <h1>Your Order</h1> 

    {{!-- <form action="/count" method="post">
        <div class="counter" >
            R{{userID}}
        </div>    
        {{!-- <input type="submit" value="Press button to count"> --}}
    
    </form>




{{!-- <div class="col-5 left">
                <div>
                    <span  class="grandTotalOne">R{{userID}}</span>
                </div>
            </div>

          
            <div>
                    <span action="/update-userID" class="id">R{{userID}}</span>
                </div> --}}